@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
    .glass-angle {
        transform: perspective(1200px) translateX(0px) translateY(-18.4728px) scale(0.969212) rotate(0deg) rotateX(6.15759deg) rotateY(0deg) translateZ(0px);
    }
}

.textByzantine {
    color: #0a3524!important;
}

.textPurpy {
    color: #8B91DE!important;
}

.bgSlateLight {
    background-color: #F8FAFC!important;
}

.rounded20 {
    border-radius: 20px!important;
}

.staxy__mdx h1 {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 5rem;
}

.staxy__mdx h3 {
    font-size: 20px;
    line-height: 44px;
    font-weight: bold;
}

.staxy__mdx p {
    margin: 1rem 0;
}

.staxy__mdx ul {
    padding: 0rem 1rem;
}

.staxy__mdx ul li {
    list-style-type: circle;
    margin: 0.5rem 0px;
}

.staxy__mdx a {
    color: #4555b5;
    text-decoration: underline;
    font-weight: 500;
}

@font-face {
    font-family: "Staxy";
    src: url("../assets//fonts/Staxy-ExtraLight.woff2");
    font-weight: 200;
    display: swap;
}
@font-face {
    font-family: "Staxy";
    src: url("../assets//fonts/Staxy-Regular.woff2");
    font-weight: 400;
    display: swap;
}
@font-face {
    font-family: "Staxy";
    src: url("../assets//fonts/Staxy-Medium.woff2");
    font-weight: 500;
    display: swap;
}
@font-face {
    font-family: "Staxy";
    src: url("../assets//fonts/Staxy-Bold.woff2");
    font-weight: 700;
    display: swap;
}
@font-face {
    font-family: "Staxy";
    src: url("../assets//fonts/Staxy-ExtraBold.woff2");
    font-weight: 900;
    display: swap;
  }

  html * {
      font-family: "Staxy", sans-serif!important;
  }